<h1>{% trans %}Hi ! Confirm your email address !{% endtrans %}</h1>

<p>
    {% trans %}Confirm your email address by clicking on the link below :{% endtrans %}<br><br>
    <a href="{{ signedUrl|raw }}">{% trans %}Confirm my email address{% endtrans %}</a>.
    {% trans %}The link expires in 1 hour{% endtrans %}.
</p>
