<h1>Salut ! Confirme ton adresse mail !</h1>

<p>
    Confirme ton adresse mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    Le lien expire dans 1 heure.
</p>
