{% extends 'base.html.twig' %}

{% block title %}{% trans %}Product picture{% endtrans %}{% endblock %}

{% block body %}

    <div class="card mb-4 py-3 border-left-info">
        <div class="card-body">
            <h1 class="d-inline-block">{% trans %}Picture{% endtrans %}</h1>
                <a href="{{ path('picture_product_add') }}" class="btn btn-success btn-icon-split float-right">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">{% trans %}Add picture{% endtrans %}</span>
                </a>
            
        </div>
    </div>

    <div class="row">
    {% for picture in pictures %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card">
                <img src="{{ asset('uploads/picture/product/' ~ picture.picture) }}" alt="" width="100%">
                <div class="card-body">
                    <h5 class="card-title">{{ picture.name }}</h5>

                        <a href="{{ path('picture_product_delete', {id: picture.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    

{% endblock %}
