{% extends 'base.html.twig' %}

{% block title %}{% trans %}Legal Notice{% endtrans %}{% endblock %}

{% block body %}

    <div class="card mb-4 py-3 border-left-info">
        <div class="card-body">
            <h1 class="d-inline-block">{% trans %}Legal Notice{% endtrans %}</h1>
        </div>
    </div>

    <div class="row">
        
        
    
    </div>
    

{% endblock %}
