{% extends 'base.html.twig' %}

{% block title %}{% trans %}Terms & Conditions{% endtrans %}{% endblock %}

{% block body %}

    <div class="card mb-4 py-3 border-left-info">
        <div class="card-body">
            <h1 class="d-inline-block">{% trans %}Terms & Conditions{% endtrans %}</h1>
        </div>
    </div>

    <div class="row">
        
        <p><em>{% trans %}In force on{% endtrans %} {% if app.request.locale == 'en' %} 01/04/2021{% else %}04/01/2021{% endif %}</em></p>
        <p>
            {% trans %}The purpose of these General Conditions of Use (referred to as "TOU") is to provide legal framework for modalities for the provision of the site and services by Mr. BARRAUD and to define the conditions access and use of services by the “User”.{% endtrans %}
        </p>
        <p>
            {% trans %}These TOU are accessible on the website under the heading «Terms & Conditions».{% endtrans %}
        </p>
        <p>
            {% trans %}Any registration or use of the site implies the acceptance without any reservation or restriction of the CGU by the user. When registering on the site via the registration form, each user expressly accepts these Terms and Conditions by ticking the box preceding the following text: «Accept the General Terms and Conditions».{% endtrans %}
        </p>
        <p>
            {% trans %}In case of non-acceptance of the TOU stipulated in this contract, the user must waive access to the services offered by the site.{% endtrans %}
        </p>
        <p>
            {% trans %}cook.quentin.dev reserves the right to unilaterally and at any time modify the content of these TOU.{% endtrans %}
        </p>

        <h2>{% trans %}ARTICLE 1: Access to the site{% endtrans %}</h2>

        <p>{% trans %}The website cook.quentin.dev allows the User free access to the following services :{% endtrans %}</p>

        <p>{% trans %}The website offers the following services :{% endtrans %}</p>

        <p>{% trans %}Management of stocks, management of recipes{% endtrans %}</p>

        <p>{% trans %}The site is accessible free of charge in any place to any User with Internet access. All fees supported by the User to access the service (hardware, software, Internet connection, etc.) are at his expense.{% endtrans %}</p>

        <p>{% trans %}The non-member User does not have access to the reserved services. To do so, he must register by completing the form. By agreeing to subscribe to the reserved services, the Member User agrees to provide honest and accurate information about his marital status and contact details, including his email address.{% endtrans %}</p>

        <p>{% trans %}To access the services, the User must then identify himself using his username and password.{% endtrans %}</p>

        <p>{% trans %}Any regularly registered Member User may also request to be unsubscribed by going to the dedicated page on his personal space. It will be effective within a reasonable time.{% endtrans %}</p>

        <p>{% trans %}Any event due to force majeure resulting in a malfunction of the site or server and subject to any interruption or modification in case of maintenance, does not engage the responsibility of cook.quentin.dev. In these cases, the User thus agrees not to hold the editor accountable any interruption or suspension of service, even without notice.{% endtrans %}</p>

        <p>{% trans %}The User has the possibility to contact the site by email to the email address of the editor press release on legal notices.{% endtrans %}</p>

        <h2>{% trans %}ARTICLE 2: Data Collection{% endtrans %}</h2>

        <p>{% trans %}The site ensures to the User a collection and processing of personal information in compliance with the privacy in accordance with Law No. 78-17 of 6 January 1978 on data processing, files and freedoms and regulation no. 2016/679 (GDPR) of 25 May 2018.{% endtrans %}</p>

        <p>{% trans %}Under the Data Protection Act, dated January 6, 1978 and the GDPR dated May 25, 2018, the User has a right of access, rectification, deletion and opposition of personal data. The User exercises this right by e-mail to contact@quentin.dev.{% endtrans %}</p>

        <h2>{% trans %}ARTICLE 3: Intellectual Property{% endtrans %}</h2>

        <p>{% trans %}Trademarks, logos, signs and all content of the site (texts, images, sound, etc.) are subject to a protection by the Intellectual Property Code and more particularly by copyright.{% endtrans %}</p>
    
        <p>{% trans %}The User must request the prior authorization of the site for any reproduction, publication, copy of content. It undertakes to use the content of the site in a strictly private context, any use for commercial and advertising purposes is strictly prohibited.{% endtrans %}</p>

        <p>{% trans %}Any total or partial representation of this site by any means, without permission the operator of the website would constitute an infringement sanctioned by article L 335-2 and of the Intellectual Property Code.{% endtrans %}</p>

        <p>{% trans %}It is recalled in accordance with article L122-5 of the Intellectual Property Code that the User who reproduce, copy or publish the copyrighted content must cite the author and its source.{% endtrans %}</p>

        <h2>{% trans %}ARTICLE 4: Liability{% endtrans %}</h2>

        <p>{% trans %}The sources of the information on cook.quentin.dev are considered reliable but the site does not does not guarantee that it is free from defects, errors or omissions.{% endtrans %}</p>

        <p>{% trans %}The information provided is indicative and general and does not have any contractual value. Despite regular updates, the site cook quentin.dev cannot be held responsible for the modification of the administrative and legal provisions arising after publication. Similarly, the site may not be kept responsible for the use and interpretation of the information contained on this site.{% endtrans %}</p>

        <p>{% trans %}The User ensures to keep his password secret. Any disclosure of the password, whatever its form is prohibited. It assumes the risks associated with the use of its username and password. The site declines all responsibility.{% endtrans %}</p>

        <p>{% trans %}The site cook.quentin.dev cannot be held responsible for possible viruses that could infect the computer or any computer equipment of the User, following use, access, or download from this site.{% endtrans %}</p>

        <p>{% trans %}The site cannot be held liable in case of force majeure or unforeseeable event and insurmountable by one third.{% endtrans %}</p>

        <h2>{% trans %}ARTICLE 5: Hyperlinks{% endtrans %}</h2>

        <p>{% trans %}Hypertext links may be present on the site. The User is informed that by clicking on these links, it will come out of the cook quentin.dev site. The latter has no control over the web pages on which end up these links and cannot, under any circumstances, be responsible for their content.{% endtrans %}</p>

        <h2>{% trans %}ARTICLE 6: Cookies{% endtrans %}</h2>
       
        <p>{% trans %}The User is informed that during his visits to the site, a cookie can be set automatically on its navigation software.{% endtrans %}</p>

        <p>{% trans %}Cookies are small files temporarily stored on the hard drive of the User’s computer by your browser and are necessary for the use of the site cook.quentin.dev. Cookies do not contain no personal information and cannot be used to identify someone. A cookie contains a unique identifier, generated randomly and thus anonymous. Some cookies expire at the end of the User’s visit, others remain.{% endtrans %}</p>

        <p>{% trans %}The information contained in the cookies is used to improve the cook.quentin.dev website.{% endtrans %}</p>

        <p>{% trans %}By browsing the site, the User accepts them.{% endtrans %}</p>

        <p>{% trans %}However, the User must consent to the use of certain cookies.{% endtrans %}</p>

        <p>{% trans %}Failing acceptance, the User is informed that certain features or pages may be refused.{% endtrans %}</p>

        <p>{% trans %}The User may disable these cookies via the settings within his navigation software.{% endtrans %}</p>

        <h2>{% trans %}ARTICLE 7: Applicable law and jurisdiction competent{% endtrans %}</h2>

        <p>{% trans %}The French legislation applies to this contract. In the event of no amicable resolution of a dispute arising between the parties, the French courts shall have sole jurisdiction to determine the case.{% endtrans %}</p>

        <p>{% trans %}If you have any questions regarding the application of these TOU, you can contact the contact details on the legal notice.{% endtrans %}</p>

    </div>
    

{% endblock %}
