<!DOCTYPE html>
<html lang="fr">
    <head>


        <title>{% block title %}{% trans %}Expiration date{% endtrans %}{% endblock %}</title>

    <body id="page-top">


    <p>{% trans %}Product concerned{% endtrans %} : {{ vars.name ~ " " ~ vars.capacity ~ vars.unitMeasure }}</p>
    <p>{% trans %}Quantity{% endtrans %} : {{ vars.quantity }}</p>
    <p>{% trans %}Shelf life{% endtrans %} : {{ vars.dlc|date("d/m/Y") }}</p>
    
    </body>
</html>
